
body {
    font-family: "Arial", "Roboto", sans-serif;
}
#content {
    margin-top: 100px;
}
header {
    margin-left: 0;
    top: 0px;
    position: fixed;
    display: flex;
    background-color: aquamarine;
    width: 100%;
    justify-content: center;
}
header h1 {
    text-align: center;
}
.mytable {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
}

li{
    text-justify: auto;
}
.cell {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.table{
    margin: auto;
}
form {
    margin: auto;
}
.myform {
    display: flex;
}
.myform .form-piece {
    padding-bottom: 10px;
    font-size: 0.8em;
}
.myform .form-cgu-checkbox {
    display: flex;
    text-align: center;
    flex-direction: column;

}
.myform .form-button {
    text-align: center;
}
.myform label {
    color: darkblue;
    font-weight: bold;
}

.myform input {
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px;
}

.secondform label {
    color: darkblue;
    font-weight: bold;
}
.secondform input {
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px;
}
.secondform .email {
    position: relative;
}

.secondform .textemail {
    position: absolute;
    right: 10px;
    top: 0px;
    color: red;
}
.formEx4 {
    margin: auto;
    width: 40%;
}