.messageCard {
    background-color: #e2f9ff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.messageCard--btn{
    text-align: end;
}